@import url(./__heading/form__heading.css);
@import url(./__save/form__save.css);
@import url(./__input/form__input.css);


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 36px 0 36px;
}

@media (max-width: 530px) {
    .form {
        margin: 0 20px 0 20px;
    }
}