@import url(./__button/profile__button.css);
@import url(./__description/profile__description.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__main/profile__main.css);
@import url(./__small-button/profile__small-button.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__title/profile__title.css);

.profile {
    max-width: 882px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 51px;
}

@media screen and (max-width: 915px) {
    .profile {
        margin-bottom: 36px;
        flex-direction: column;
    }
}