.profile__small-button {
    border: 1px solid #ffffff;
    background-color: black;
    width: 24px;
    height: 24px;
    margin-bottom: 18px;
    background-image: url('/images/pen.svg');
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:882px) {
  .profile__small-button {
      max-width: 18px;
      height: 18px;
      margin-left: 6px;
      display: flex;
      justify-content: center;
  }  
} 