.elements__card {
    border: 1px solid green;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

@media screen and (max-width:425px) {
    .elements__card {
        margin-bottom: 20px;

    }

    .elements__card:last-of-type {
        margin-bottom: 0;
    }
}
