@import url('./__logo/header__logo.css');

.header {
    max-width: 882px;
    margin: 45px auto;
    height: 74px;
    margin-bottom: 36px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 915px) {
    .header {
        max-width: 584px;
    }
}

@media screen and (max-width: 615px) {
    .header {
        max-width: 282px;
        height: 56px;
        margin: 28px auto 42px;
    }
}