.profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin:0;
    max-width: 318px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:882px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    max-width: 201px;
  }  
} 