@import url(_name/form__input_name.css);
@import url(_profession/form__input_profession.css);

.form__input { 
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
}

@media (max-width: 503px) {
    .form__input {
        font-size: 12px;
        line-height: 15px;
    }
}