
.form__input { 
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

@media (max-width: 503px) {
    .form__input {
        font-size: 12px;
        line-height: 15px;
    }
}