.card__like {
    width: 21px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    ;
}

.card__like:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s linear;
}