.card__delete {
    border: none;
    background: url(../../../images/delete.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    right: 10px;
    transition: 0.3s;
    position: absolute;
    top: 18px;
    display: flex;
    right: 15px;
}

.card__delete:hover {
    opacity: 0.6;
}