.profile__button {
    background-color: black;
    width: 17%;
    height: 50px;
    border: 2px solid #ffffff;
    background-image: url(../../../images/plus-button.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:768px) {
  .profile__button {
      width: 150px;
  }  
} 



@media screen and (max-width:425px) {
  .profile__button {
      width: 100%;
  }  
} 