.profile__button {
    background-color: black;
    width: 17%;
    height: 50px;
    border: 2px solid #ffffff;
    background-image: url(../../../images/plus-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}

.profile__button:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s linear;

}

@media screen and (max-width:768px) {
  .profile__button {
      width: 150px;
  }  
} 



@media screen and (max-width:615px) {
  .profile__button {
      width: 282px;
  }  
} 