.form__profession {
    padding: 29px 0 0;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
}
@media (max-width: 503px) {
    .form__profession {
        width: 200px;
        padding-top: 15px;
        font-size: 12px;
        line-height: 15px;
    }
}